<table class="table">
    <tr>
        <th>Tip Manifestacije</th>
        <th>Naziv Manifestacije</th>
        <th>Broj Karata</th>
        <th>Datum i Vreme Odrzavanja</th>
        <th>Cena Karte</th>
        <th>Ulica i Broj</th>
        <th>Status</th>
        <th>Mesto</th>
        <th>Postanski Broj</th>
        <th>Validan</th>
    </tr>    
    <tr>
        <td>@ViewBag.TipManifestacije</td>
        <td>@ViewBag.Naziv</td>
        <td>@ViewBag.BrojMesta</td>
        <td>@ViewBag.DatumIVremeOdrzavanja</td>
        <td>@ViewBag.CenaKarte</td>
        <td>@ViewBag.MestoOdrzavanja</td>
        <td>@ViewBag.StatusManifestacije</td>

    </tr>
</table>