<h1>Profil!</h1>

<table class="table">
    <tr>
        <td>Korisnicko Ime:</td>
        <td>@ViewBag.VidiProfil.KorisnickoIme</td>
    </tr>
    <tr>
        <td>Lozinka:</td>
        <td>@ViewBag.VidiProfil.Lozinka</td>
    </tr>
    <tr>
        <td>Ime:</td>
        <td>@ViewBag.VidiProfil.Ime</td>
    </tr>
    <tr>
        <td>Prezime:</td>
        <td>@ViewBag.VidiProfil.Prezime</td>
    </tr>
    <tr>
        <td>Pol:</td>
        <td>@ViewBag.VidiProfil.Pol</td>
    </tr>
    <tr>
        <td>Datum Rodjenja:</td>
        <td>@ViewBag.VidiProfil.DatumRodjenja</td>
    </tr>
</table>

<a href="/Home/IzmeniPodatke">Izmenite podatke</a>